<h1><%= @title %></h1>

<h1>Latest Space Meetups</h1>
<ul>
<% @meetups.each do |meetup| %>

<li><a href="/<%= meetup.id %>"><%= meetup.name %></a></li>
<% end %>
</ul>

<a href="/submit">Click here to Submit a Meetup that's out of this world!!</a>
