<form action="/submit" method="POST">
  <label form="meetup">
  <span>Name of Meetup</span><br/>
  <input type="text" name="meetup" id="meetup">
  </label>

  <label form="location">
  <span>Location</span><br/>
  <input type="text" name="location" id="location">
  </label>

  <label form="description">
  <span>Description</span></br>
  <input type="text" name="description" id="description">
  </label><br/>
  <input type="submit" id="submit">
</form>
