<form action="/submit" method="POST">
  <label form="meetup">Name of Meetup</label>
  <input type="text" name="meetup" id="meetup">

  <label form="location">Location</label>
  <input type="text" name="location" id="location">

  <label form="description">Description</label>
  <input type="text" name="description" id="description">
</form>
