<form action="/submit" method="POST">
  <span>Name of Meetup</span><br/>
  <label form="meetup">
  <input type="text" name="meetup" id="meetup" required>
  </label>

  <span>Location</span><br/>
  <label form="location">
  <input type="text" name="location" id="location" required>
  </label>

  <span>Description</span></br>
  <label form="description">
  <input type="text" name="description" id="description" required>
  </label><br/>
  <input type="submit" id="submit">
</form>
