<h1><%= @meetup.name %></h1>
<h3>location: <%= @meetup.location %></h3>
<p>description: <%= @meetup.description %></p>

<form action="/submit" method="POST">
  <label form="join">
    <input type="submit" id="join" value="join">
  </label>
</form>
<h2>Members</h2>
  <ul>
  <% @meetup.users.each do |user| %>
    <li> <%= user %> </li>
  <% end %>
  </ul>
